@charset "utf-8";
#Container {
	width: 800px;
}
#Image ol #Part {
	width: 300px;
}

#Text {
	width: 399px;
	float: left;



















	background-image: url(assets/download
%20(1).png);
	background-image: url(assets/download
%20(1).png);
	background-image: url(assets/download
%20(1).png);
	color: #000000;











	background-image: url(assets/download
%20(1).png);
	height: 400px;
}



#Text ol li {
	color: #000000;
}
blockquote blockquote h1 {
}

#Container #Text #no {
	width: 327px;
	background-color: #FFFFFF;
}


#Image {
	width: 400px;
	height: 450px;
	float: right;
}
#Heading h1 {
	color: #0E0E0E;
}


#Text ol img {
}
#Heading {
	background-color: #32DAF5;
	height: 60px;
}

#Text ol img {
	box-shadow: 4px 4px 6px gray;
	transform: rotate(10deg);
	right: auto;
}
.photo {
	box-shadow: 4px 4px 4px gray;
	transform: rotate(10deg);

#Heading {
	width: 800px;
	background-color: #20D5B6;
	height: 60px;
	background-image: url(assets/download
%20(1).png);
}
#Container #Text p {
	color: #000000;
}
